html, body {
    height: 100%; }

.navbar{
    transition:all .5s;
    transition-delay:.25s;
    box-shadow:0 0 1rem 0 rgba(0,0,0,.2)
}
.navbar.navbar-ontop{
    background-color:transparent!important;
    padding-top:1rem;
    box-shadow:none!important
}
.navbar .nav-item .nav-link{
    transition:background-color .4s;
    border-radius:.25rem;
    padding-top:.75rem;
    padding-bottom:.75rem;
    line-height:1rem;
}
.nav-link:hover, .nav-link:active{
    background-color:rgba(255,255,255,.2)
}
.navbar .btn{
    padding-top:.75rem;
    padding-bottom:.75rem;
    line-height:1rem;
    border:none
}

nav a{
    color:#fff!important
}

.btn.navbar-btn.bg-white.text-dark:hover{
    text-decoration: underline;
}

.p-10{
    padding-top: 6%;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:white;
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: underline;
}

.cover {
min-height: 100%;
display: flex;
align-items: center; }

.bg-dark {
    background-color: #151515 !important;
}

.mt-5{
    margin-top:5rem;
}

.animate-in{
    transition:all 1.3s ease-out;
    position:relative;
    opacity:1
}
.animate-in.out-of-viewport{
    opacity:0
}
.animate-in-left{
    transition:all 1s ease-out;
    position:relative;
    opacity:1;
    left:0
}
.animate-in-left.out-of-viewport{
    opacity:0;
    left:0
}
.animate-in-right{
    transition:all 1s ease-out;
    position:relative;
    opacity:1;
    left:0
}
.animate-in-right.out-of-viewport{
    opacity:0;
    left:0
}

