html, body {
    height: 100%; }

.big-title{
    font-size: 5rem;
}

.p-10{
    padding-top: 6%;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.carousel-caption{
    top:30%;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:white;
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: underline;
}

.cover {
min-height: 100%;
display: flex;
align-items: center; }

.bg-dark {
    background-color: #151515 !important;
}

.mt-5{
    margin-top:5rem;
}

.animate-in{
    transition:all 1.3s ease-out;
    position:relative;
    opacity:1
}
.animate-in.out-of-viewport{
    opacity:0
}
.animate-in-left{
    transition:all 1s ease-out;
    position:relative;
    opacity:1;
    left:0
}
.animate-in-left.out-of-viewport{
    opacity:0;
    left:0
}
.animate-in-right{
    transition:all 1s ease-out;
    position:relative;
    opacity:1;
    left:0
}
.animate-in-right.out-of-viewport{
    opacity:0;
    left:0
}